<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Hero Section End -->
<section th:fragment="hero">
    <div class="container">
        <div class="row">

            <!--De aici incepe dropdownul-->
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Category select</span>
                    </div>

                    <ul th:object="${dropCategories}">
                        <li>
                            <a  th:each="dropCategory : ${dropCategories}" th:value="${dropCategory.id}" th:text="${dropCategory.name}" th:href= "@{'/shopGrid/'+${dropCategory.id}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="header__cart">
                            <ul>
                                <li><a href="/shoppingCart"><i class="fa fa-shopping-cart"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">item: <span>$150.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
</body>
</html>