<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.w3.org/1999/xhtml">

<!--TODO: Add Head -->
<div th:replace="fragments/componentsAdmin :: headAdmin"></div>

<body>

<!--TODO: Add HeaderAdmin -->
<div th:replace="fragments/componentsAdmin :: headerAdmin"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Foodies admin</h2>
                    <div class="breadcrumb__option">
                        <span>Our Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

</br>
<!-- Modal add -->
<div class="container" >
    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__btns">
                <a type="button" class="primary-btn cart-btn" data-toggle="modal" data-target="#modalAdd">
                    Add product
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog contact-form" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/adminProduct/addNew}" method="post">

                            <select th:name="category_id" class="md-form mb-4" >
                                <option name = category.name th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>

                        <div class="md-form mb-4">
                            <input type="number" class="form-control validate" placeholder="id" th:name="id"  >

                        </div>
                        <div class="md-form mb-4">
                            <input type="name"  class="form-control validate" placeholder="brand" th:name="brand"  >
                        </div>

                        <div class="md-form mb-4">
                            <input type="name" class="form-control validate" placeholder="country" th:name="country" >
                        </div>

                        <div class="md-form mb-4">
                            <input type="text"  class="form-control validate"placeholder="description" th:name="description">
                        </div>

                        <div class="md-form mb-4">
                            <input type="date"  class="form-control validate"placeholder="expiry" th:name="expiry">
                        </div>

                        <div class="md-form mb-4">
                            <input type="name"  class="form-control validate"placeholder="name" th:name="name">
                        </div>

                        <div class="md-form mb-4">
                            <input type="number"  class="form-control validate"placeholder="price" th:name="price">
                        </div>

                        <div class="md-form mb-4">
                            <input type="number"  class="form-control validate"placeholder="stock"name="stock">
                        </div>

                    <div class="md-form mb-4">
                        <input type="checkbox"  class="form-control validate"placeholder="status" th:name="status">
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button class="site-btn">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal add End -->

    <!-- modal edit start -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog contact-form" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form form th:action="@{/adminProduct/update}" method="post" >

                    <select th:name="category_id" class="md-form mb-4" >
                        <option name = category.name th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>

                    <div class="md-form mb-4">
                        <input type="number" class="form-control validate" placeholder="id" th:name="id"  >

                    </div>
                    <div class="md-form mb-4">
                        <input type="name"  class="form-control validate" placeholder="brand" th:name="brand"  >
                    </div>

                    <div class="md-form mb-4">
                        <input type="name" class="form-control validate" placeholder="country" th:name="country" >
                    </div>

                    <div class="md-form mb-4">
                        <input type="text"  class="form-control validate" placeholder="description" th:name="description">
                    </div>

                    <div class="md-form mb-4">
                        <input type="date"  class="form-control validate" placeholder="expiry" th:name="expiry">
                    </div>

                    <div class="md-form mb-4">
                        <input type="name"  class="form-control validate" placeholder="name" th:name="name">
                    </div>

                    <div class="md-form mb-4">
                        <input type="number"  class="form-control validate" placeholder="price" th:name="price">
                    </div>

                    <div class="md-form mb-4">
                        <input type="number"  class="form-control validate" placeholder="stock"name="stock">
                    </div>

                    <div class="md-form mb-4">
                        <input type="checkbox"  class="form-control validate" placeholder="status" th:name="status">
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="site-btn">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- modal edit end -->


    <!-- Delete Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="site-btn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Table Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Brand</th>
                                <th>Country</th>
                                <th>Description</th>
                                <th>Expiry</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Stock</th>
                                <th>Category</th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="product : ${products}">
                                <td class="shoping__cart__price" th:text = "${product.id}" ></td>
                                <td class="shoping__cart__price"th:text = "${product.brand}"></td>
                                <td class="shoping__cart__price" th:text = "${product.country}">
                                <td class="shoping__cart__price" th:text = "${product.description}">
                                <td class="shoping__cart__price" th:text = "${product.expiry}"></td>
                                <td class="shoping__cart__total"th:text = "${product.name}"></td>
                                <td class="shoping__cart__total"th:text = "${product.price}"></td>
                                <td class="shoping__cart__total"th:text = "${product.status}"></td>
                                <td class="shoping__cart__total"th:text = "${product.stock}"></td>
                                <td class="shoping__cart__total"th:text = "${product.category.name}"></td>
                                <td class="shoping__cart__total">
                                    <a th:href="@{/adminProduct/findById/(id=${product.id})}" type="button" id= editButton data-toggle="modal" data-target="#modalEdit" >
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td class="shoping__cart__price">
                                    <form th:action="@{/adminProduct/delete}" method="post">
                                        <button class="fa fa-trash" th:name="product_id" th:value= ${product.id} ></button>
                                    </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Table Section End -->
</div>
<!--TODO: Add FooterAdmin -->
<div th:replace="fragments/components :: script"></div>
</body>

</html>


