<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css"  th:href="@{/css/utilLogin.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/mainLogin.css}">

</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <a href="/index"><img src="img/logo2.png" alt=""></a>
            </div>

            <form th:action="@{/register}"  th:object="${user}" method="POST" class="login100-form validate-form">
					<span class="login100-form-title">
						Register 
					</span>
                <div class="wrap-input100 validate-input" data-validate="Name is required">

                    <input class="input100" type="text"  placeholder="Name" th:field="*{name}" >

                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <input class="input100" type="text" placeholder="username" th:field="*{username}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true" ></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required">
                    <input class="input100" type="text" placeholder="email" th:field="*{email}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <!--TODO confirmation password     -->
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" placeholder="Password" th:field="*{password}">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Register
                    </button>
                </div>

                <div class="text-center ">
                    <a class="txt2" href="/login">
                        Back to login
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>


</body>
</html>