<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<!--TODO: Add Head -->
<div th:replace="fragments/components :: head"></div>

<body>


<!--TODO: Add Header -->
<div th:replace="fragments/components :: header"></div>

<!--TODO: Add Hero -->
<div th:replace="fragments/hero :: hero"></div>

<!--TO DO: Add Cover -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Vegetable’s Package</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <a href="./index.html">Vegetables</a>
                        <span>Vegetable’s Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="../../img/product/details/product-details-1.jpg" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="../../img/product/details/product-details-2.jpg"
                             src="../../img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="../../img/product/details/product-details-3.jpg"
                             src="../../img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="../../img/product/details/product-details-5.jpg"
                             src="../../img/product/details/thumb-3.jpg" alt="">
                        <img data-imgbigurl="../../img/product/details/product-details-4.jpg"
                             src="../../img/product/details/thumb-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <form th:action="@{/shopGrid/add_product}" method="post">
                <div> class="product__details__text">
                    <h1 id="name" th:text = "${product.name }"></h1>
                    <h2 th:text = "${product.brand }">Brand</h2>
                    <div id = "price" th:text = "${product.price }"class="product__details__price">$50.00</div>
                    <b>Description:</b>
                    <p id = "description" th:text = "${product.description }"></p>

                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="number" value=1 th:name="quantity">
                            </div>
                        </div>
                    </div>
                    <h1>
                    <button class="fa fa-shopping-cart" th:name="product_id" th:value= ${product.id}></button>
                    </h1>
                    <ul>
                        <b>Expiry</b> <li id = "expiry" th:text = "${product.expiry }"> <span>data expirare </span></li>
                        <b>Country</b><li id = "country "th:text = "${product.country }"> <span>Romania </span></li>

                        <b>Availability</b> <li th:text = "${product.status }"> <span>01 day shipping</span></li>
                        <b>Stock</b> <li id = "stock" th:text = "${product.stock }"> <span>0.5 kg</span></li>
                    </ul>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!--TODO: Add Footer -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: script"></div>

</body>

</html>