<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.w3.org/1999/xhtml">

<!--TODO: Add Head -->
<div th:replace="fragments/components :: head"></div>

<body>
<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
      type="text/css">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!--TODO: Add Header -->
<div th:replace="fragments/components :: header"></div>

<!--TODO: Add Hero -->
<div th:replace="fragments/hero :: hero"></div>

<!--TO DO: Add Cover -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Foodies Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Products</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Details</th>
                            <th>Add to cart</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="product : ${products}">
                            <td class="shoping__cart__total"th:text = "${product.name}"></td>
                            <td class="shoping__cart__price"th:text = "${product.brand}"></td>
                            <td class="shoping__cart__total"th:text = "${product.price}"></td>
                            <td class="shoping__cart__total"><a th:href="@{'/shopDetails/'+${product.id}}" type="button" ><i class="fa fa-arrow-right"></i></a></td>
                            <td  class="shoping__cart__total">
                                <form th:action="@{/shopGrid/add_product}" method="post">
                                    <button class="fa fa-shopping-cart" th:name="product_id" th:value= ${product.id} ></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!--TODO: Add Footer -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: script"></div>

</body>

</html>