<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<!--TODO: Add Head -->
<div th:replace="fragments/components :: head"></div>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!--TODO: Add Header -->
<div th:replace="fragments/components :: header"></div>

<!--TODO: Add Hero -->
<div th:replace="fragments/hero :: hero"></div>

<!--TODO: Add Cover -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cart_item : ${cart_list}">
                            <td class="shoping__cart__item">
                                <img src="img/cart/cart-1.jpg" alt="">
                                <h5>Vegetable’s Package</h5>
                            </td>
                            <td class="shoping__cart__price" th:text = "${cart_item.product.name}"> </td>
                            <td class="shoping__cart__price" th:text = "${cart_item.product.price}"> </td>
                            <td class="shoping__cart__price" th:text = "${cart_item.quantity}"> </td>
                            <td class="shoping__cart__total" th:text = "${cart_item.total_price}"> </td>
                            <td class="shoping__cart__price">
                                <form th:action="@{/shoppingCart/delete_item}" method="post">
                                    <button class="fa fa-trash" th:name="cart_item_id" th:value= ${cart_item.id} ></button>
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a>
                </div>
            </div>

<!--            <div class="col-lg-6">-->
<!--                <div class="shoping__checkout">-->
<!--                    <h5>Cart Total</h5>-->
<!--                    <ul>-->
<!--                        <li>Subtotal <span th:text = "${total_price}"> $ </span></li>-->
<!--                        <li>Total <span th:text = ${total_price}"> $ </span></li>-->
<!--                        <li>Subtotal <span>100</span></li>-->
<!--                        <li>Total <span>100</span></li>-->

<!--                    </ul>-->
<!--                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<!--TODO: Add Footer -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: script"></div>


</body>

</html>